/* 
    1. từ ngoài vào trong
    2. từ trên xuống dưới
    3. Tổng quan đến chi tiết
*/
/* 
    1. Vị trí
    2. Color
    3. Kích thước (width, height)
    4. Kiểu dáng ( Kiểu chữ, hình tròn, vuông)

 */
 
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
.clear {
    clear: both;
}
/*.text-white {
    color: red;
}*/
#main {

}
#heading {
    height: 46.400px;
    background-color: black;    
    position: fixed;    /*Làm cho thanh header cố định ở top = 0px */
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
}
#nav {
    display: inline-block; /* làm cho thanh heading ngắn lại và đẩy search lên cùng hàng */
}

#nav li {
    display: inline-block;  /* trên 1 hàng */
    position: relative;
}

#nav li a{
    color: white;
    text-decoration: none;
    line-height: 46.400px;
    padding: 0px 24px;
    display: block;  /* di chuột trong hover cao = menu */
}

#nav > li:hover > a {
    color:black;
    background-color: #ccc;
}
#nav .subnav > li:hover {
    color: black;
    background-color:#ccc;
}
#nav li:hover .subnav {
    display: block  ;   /* di chuột vào MORE hiện ra con */
}
#nav .subnav {
    display: none;       /*  Ẩn đi menu con */
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.3); /*Đổ bóng*/
    
}
#nav .subnav li {
    min-width: 100%; /* Di chuột vào làm thanh con dài */
    min-width: 160px;   /* làm thanh dài ra 160px */
}
#nav .subnav li a {
    color: black;   /* màu chữ của con */
    padding: 0px 12px;  /* chữ xệch vào lề */

    
}

#nav .nav-arrow-down {
    font-size: 10px;
}
#heading .search-bottom {
    float: right;
    cursor: pointer;
}
#heading .search-icon {
    color: white;
    line-height: 46.400px;
    padding: 0px 24px;
    display: block;
}
#heading .search-icon:hover {
    background-color: #f44336;
}
#slider {
    border-top: 46.400px;
    padding-top: 50%;  /* 50% chiều ngang của chính nó */
    background: url('/img/slider1.jpg') top center / cover no-repeat ;
    position: relative;
}
#slider .text-content {
    color: #ccc;
    position: absolute;
    bottom: 38px;
    text-align-last: center;
    right: 0;       /*cho chữ căn giữa*/
    left: 0;

}

#slider .text-h {
    
}

#slider .text-p {
    margin-top: 20px;
}

#content {

}
#content .content-section {
    width: 800px;
    padding: 60px 0px;
    margin-left: auto;
    margin-right: auto;
    /*margin: 0 auto;*/
}
#content .section-heading {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
   letter-spacing: 4px;     /*khoảng cách các chữ rộng ra 4px*/
}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;     /*chữ nghiêng*/
    opacity: 0.6;           /*chữ mờ đi*/
}
#content .text {
    font-size: 15px;
    margin-top: 15px;
    line-height: 1.4;       /*khoảng cách giữ 2 dòng*/
    text-align: justify;    /*chữ thẳng hàng xuống dòng*/
    
}
#content .member-list {
    margin-top: 48px;
}

#content .member-item {
    text-align: center;
    float: left;
    width: 33.33%;
}

#content .member-name {
    font-size: 15px;
}
#content .member-img {
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}
.tour-section {
    background-color: black;
}
.ticket-list {
    color: black;
    background-color: white;
    margin-top: 40px;
}
.ticket-list li {
    list-style: none;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}
.ticket-list .sold-out {
    background-color: red;  
    padding:  5px;
    margin-left: 14px;
    color: black;
}
.ticket-list .cuong-out {
    float: right;       /*đc hiểu là thẻ block*/
    margin-right: 14px;
    color: white;
    background-color: black;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    margin-top: -2.5px;   /*âm + float mới đùng đc*/
}
.place-section {
    margin: 35px -8px 40px;
}
.place-item {
    float: left;
    width: 33.3333%;
    padding: 8px;

}
.place-img {
    width: 100%;
    display: block;
}
.place-body {
    color: black;
    padding: 16px;
    background-color: white;
    font-size: 15px;

}
.place-heading {
    font-weight: 600;
}
.date {
    color: #757575;
    margin-top: 15px;
}
.para {
    line-height: 1.4;
    margin-top: 15px;
}
.tickets {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 16px;
    display: inline-block;
    margin-top: 15px;

}
#footer {

}
